@use "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

:root {
  --main-color: #ffa501;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.divider {
  width: 60px;
  height: 3px;
  margin: 25px auto 0 auto;
  background-color: var(--main-color);
}

@mixin before_circle {
  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--main-color);
    border-radius: 100%;
    z-index: -1;
    top: -25%;
    left: 0;
  }
}
